footer{
    background-color:$Very_Dark_Cyan;
    .footer_container{
        @include container(85%, 7.5%);
        .logo_footer{
            img{
                color:$white;
            }
        }
        .lower_footer{
           display: flex;
            .footer_links{
                width:25%;
                ul{
                    li{
                        @include style_type;
                        display:flex;
                        svg{
                            // margin:0px 20px 0px 0px; 
                            gap:20px;
                        }
                        margin:20px 0px 0px 0px;
                        
                        a{
                            text-decoration:none;
                            color:$Very_Pale_Cyan;
                            font-size:$body_Font_size;
                            font-family:$body_font_family;
                            &:hover{
                                text-decoration:underline;
                            }
                        }
                    }

                }
                .social_media{
                   display:flex;
                    li{
                        margin: 0px 10px 0px 0px;
                        a:hover{
                            color:$Pink;
                        }
                    }
                }
            }


        }
    }
}