$Very_Pale_Cyan:hsl(193, 100%, 96%);
$Very_Dark_Cyan:hsl(192, 100%, 9%);
$Grayish_Blue:hsl(208, 11%, 55%);
$Pink:hsl(322, 100%, 66%);
$white:white;
$hover_color:#57627242;
$body_Font_size:18px;
$heading_font_family:'Poppins', sans-serif;
$body_font_family:'Open Sans', sans-serif;